doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/app.css")
        title Document
    body.min-h-screen.bg-gray-50
        nav(class="bg-[#262729] py-5") 
            a(href="/" class=" text-white px-5") CRUD Nodejs y Mysql
        main(class= "max-w-full flex justify-evenly container mt-10 px-2 ")
            block contenido    